<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="danger" expand="block" (click)="openModal('image-picker')">Go to image-picker</ion-button>

  <div style="border-top:2px solid blue; margin-block:20px;"></div>

  <app-level101></app-level101>

  <app-level102></app-level102>

  <div style="border-top:2px solid blue"></div>

  <h2>Master controls {{names.length}} names</h2>
  <app-name-child *ngFor="let name of names" [name]="name"></app-name-child>

  <div style="border-top:2px solid blue"></div>

  <p>Should mankind colonize the Universe ?</p>
  <h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
  <ion-button (click)="reset()">Reset Count</ion-button>
  <app-voter *ngFor="let voter of voters" [name]="voter" [resetCount]="resetCount" (voted)="onVoted($event)">
  </app-voter>

</ion-content>