<ion-header>
  <ion-toolbar>
    <ion-title>
      Google Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" expand="block" (click)="googleLogin()">login using Google</ion-button>

  <div class="outter" *ngIf="name">
    <div class="user-image">
      <ion-img src="{{ image }}"></ion-img>
    </div>
    <div class="user-details">
      <h2>{{ name }}</h2>
      <h3>{{ email }}</h3>
    </div>
  </div>

  <div class="clock">
    <p id="demo" style="text-align:center;"></p>
  </div>




  <div class="ion-padding" *ngIf="isLoggedIn === true">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Hi, {{users.name}}</ion-card-subtitle>
        <ion-card-title>{{users.email}}</ion-card-title>
      </ion-card-header>
      <img src="{{users.picture.data.url}}" width="100" alt="{{users.name}}" />
      <ion-card-content>
        <p>
          <ion-button expand="full" color="secondary" (click)="logout()">
            Logout
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="isLoggedIn === false">
    <ion-button disabled="true" expand="full" color="primary" (click)="fbLogin()">
      Login with
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
  </div>

  <ion-button class="ion-margin" color="danger" (click)="goToChart()" expand="full">Chart.js</ion-button>

</ion-content>