<ion-header>
  <ion-toolbar>
    <ion-title>
      Google Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" expand="block" (click)="googleLogin()">login using Google</ion-button>

  <div class="outter" *ngIf="name">
    <div class="user-image">
      <ion-img src="{{ image }}"></ion-img>
    </div>
    <div class="user-details">
      <h2>{{ name }}</h2>
      <h3>{{ email }}</h3>
    </div>
  </div>

  <div class="clock">
    <p id="demo" style="text-align:center;"></p>
  </div>



  <ion-card *ngIf="user">
    <img [src]="user.picture.data.url">
    <ion-card-header>
      <ion-card-title>
        {{ user.name }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ user.birthday }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ user.email }}
      <ion-button (click)="logout()" expand="full">Logout</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="login()" expand="full">Login with FB</ion-button>




</ion-content>