<ion-header>
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="selectImage()">Select Images</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4 *ngIf="croppedImgUrl.length">Cropped File</h4>
        <p *ngIf="loading">Loading ...</p>

        <img [src]="croppedImgUrl" />
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>